h1 {
    color: white;
}
.streetView {
    width: auto;
    height: auto;
}

.guess {
    width: auto;
    height: 400px;
    background-color: lightcoral;
}

#myPanorama {
    width: 100%;
    height: 100%;
}