h1 {
    color: white;
}

form {
    text-align: left;
    padding-left: 20%;
}

.container, .row {
    min-height: 100vh;
}

.streetView {
    width: auto;
    height: auto;
}

.guess {
    width: auto;
    height: auto;
    background-color: lightcoral;
}

#myPanorama {
    width: 100%;
    height: 100%;
}